.speaker-card {
    width: 400px;
}

.speaker-card__avatar {
    border-radius: 280px;
}

.speaker-card__name {
    margin-block-start: 30px;
    font-size: 24px;
    line-height: 37px;
}

.speaker-card__title {
    font-size: 23px;
    line-height: 29px;
    color: #9e9e9e;
}

.speaker-card__description {
    margin-block-start: 5px;
    font-size: 16px;
    line-height: 23px;
}
