.program {
    width: 900px;
    margin: auto;
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 80px;
}

.program__text {
    font-size: 24px;
    line-height: 29px;
}

.program__text_registration {
    grid-column: 3;
}

.program__divider {
    grid-column: 1 / 4;
}

.program__card {
    width: 170px;
}

.program__card-avatar {
    border-radius: 280px;
}

.program__card-text {
    font-size: 16px;
    line-height: 25px;
}

.program__description {
    margin-top: 15px;
    font-size: 16px;
    line-height: 19px;
}
