.footer {
    background: no-repeat center url("/images/footer-background.jpg");
}

.footer-content {
    margin: auto;
    padding: 35px var(--padding-inline);
    max-width: var(--max-width);
    display: flex;
    justify-content: space-between;
}

.footer-content__text {
    font-size: 15px;
    line-height: 23px;
}

.footer-content__copyright {
    margin-top: 35px;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.footer-content__social {
    text-align: center;
}

.footer-content__social-links {
    margin-top: 30px;
    display: flex;
    gap: 15px;
}
